@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.header {
  height: 100px;
  background-color: #343333;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
}

.body-photo {
  display: flex;
  background-size: cover;
  background-image: url("assets/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 500px;
}

.body-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10% 5%;
  width: 40%;
}

.heading {
  display: flex;
  color: white;
  font-size: 2.2rem;
  margin: 0;
}

.size-one {
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  background-color: #ab1c2e;
  border: none;
  color: white;
  padding: 0 1rem 0 1rem;
  text-align: center;
  text-decoration: none;
  /* width: 150px; */
  font-size: 0.7rem;
  border-radius: 2rem;
}

.button-text {
  margin-left: 1em;
}

.button:hover {
  cursor: pointer;
}

.button-1 {
  width: 200px;
}

.body-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ab1c2e;
  flex-direction: row;
  height: auto;
  padding: 2%;
}

/* .body-2-container {
  display: flex;
  margin: 2% 1%;
  justify-content: space-between;
} */

.heading-2 {
  display: inline;
  color: white;
  font-weight: 100;
  margin: 0;
  margin-right: 2%;
}

.button-2 {
  background-color: black;
  color: white;
  width: 150px;
}

.body-3 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-1 {
  display: flex;
  width: 60%;
  /* padding: 2% 5% 2% 5%;
  flex: 1 0 0px; */
}

.column-1-container {
  margin: 10%;
}

.column-2 {
  background-color: #f1f2f2;
  /* padding: 2% 10% 2% 5%; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 40%;
}

.column-2-container {
  margin: 10%;
}

.heading-3 {
  display: flex;
  color: #ab1c2e;
  font-weight: 600;
  margin-top: 0;
}

.copy {
  text-align: justify;
  font-size: 1rem;
}

.red {
  color: #ab1c2e;
}

.list {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
}

.list-text {
  margin-top: 0;
  margin-left: 1em;
  font-size: 1rem;
}

.body-4 {
  height: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #ab1c2e;
  align-items: center;

  width: 100%;
  /* flex-wrap: wrap; */
}

.heading-4 {
  display: flex;
  color: white;
  text-align: center;
}

.list-2 {
  display: flex;
  /* flex-direction: row; */
  height: 75%;
  flex-wrap: nowrap;
  max-width: 90%;
  justify-content: center;
  /* border: 1px solid black; */
}

.list-item-2 {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  text-align: center;
  margin: 1%;
}

.list-item-2-text {
  display: flex;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #8b8c8c;
}

.white {
  color: white;
  display: flex;
}

.copy-2 {
  font-size: 0.75rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  .body-photo {
    min-height: 350px;
  }

  .body-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 10% 5%;
    width: 100%;
  }

  .button-1 {
    align-self: center;
  }

  .body-2 {
    flex-direction: column;
    text-algin: center;
  }

  .heading-2 {
    font-size: 1rem;
    margin-bottom: 2%;
  }

  .list-text {
    margin-top: 0;
    margin-left: 1em;
    font-size: 0.75rem;
  }

  .copy {
    font-size: 0.75rem;
  }

  .list-2 {
    flex-wrap: wrap;
  }

  .list-item-2 {
    width: 100px;
  }
}
